::selection {
	background: rgba(126, 252, 0, 0.404);
	color: whitesmoke;
}

body {
	background-color: black;
	color: whitesmoke;
	font-size: 30px;
	font-family: 'Arial', sans-serif;
}

a {
	color: inherit;
}

ul a {
	text-decoration-line: none;
}

a:hover {
	color: gainsboro;
}

h1, h2 {
	font-family: 'Courier New', sans-serif;
	text-align: center;
	color: lawngreen;
}

h1 {
	font-size: 2.8em;
	margin-bottom: 0;
}

h2 {
	font-size: 0.8em;
	margin-top: 0;
}

ul {
	list-style: none;
}

.wrapper {
	padding: 75px 40px;
	font-size: 1.3em;
}

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display: inline-block;
   /* padding: .3em .5em .3em .4em; */
   /* font-size:1.4em; */
   cursor: pointer;
}

details>ul {
	padding: 10px 30px;
	border-left: 2px gray dashed;
	font-size: 0.8em;
	margin: 0;
}
